spring:
  datasource:
    url: jdbc:sqlite:logger_config.sqlite
    username:
    password:

auth:
    management:
        tokens:
            - a
            - b
    business:
        tokens:
            - f
            - x

