<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/logdist/</file>
        <append>true</append>
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logdist-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="file" />
    </logger>

    <logger name="com.enigmabridge" level="debug" additivity="false">
        <appender-ref ref="file" />
    </logger>

    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="file" />
    </logger>
    <logger name="org.hibernate.SQL" level="info" additivity="false">
        <appender-ref ref="file" />
    </logger>
    <logger name="org.hibernate.jdbc" level="info" additivity="false">
        <appender-ref ref="file" />
    </logger>
    <logger name="org.hibernate.type" level="info" additivity="false">
        <appender-ref ref="file" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="file" />
    </root>
</configuration>
